{% extends "layout.html" %}
  {% block content %}
  
    <h1><strong>Real Estate Data</strong></h1>
    
    
    <p>The following Real Estate data set used in this webiste can and will be found <a href="https://think.cs.vt.edu/corgis/json/real_estate/">here</a></p>
    
    
    <p>If you are looking for a certian congressional district, that can be found in this data set. For example the first real estate property you see is in the 1st congressional district
    which can be found in Conneticut. You can also find the address so if the prperty is listed locally you can can visit and check it out, we'll use the the example from above, that property
    can be found at the following address: 135 High St.</p>
    
    
    <p>In addition to having all of that information, you can check how many parking spaces come with your property. The property listed at 135 High St. has only 29 parking spaces available.
    If you are looking for some more parking spaces then you can find that in this data set. One of these properties listed has around 2000 paring spaces if 29 is not enough.</p>
    
    
 {% endblock %}
