
<!DOCTYPE html>
<html>
<head>
<style>
ul#u{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li.order{
  float: left;
}

li.order a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li.order a:hover {
  background-color: #111;
}
</style>
</head>
<body>

<ul id="u">
  <li class="order"><a class="active" href="/">Research</a></li>
  <li class="order"><a class="active" href="/funFact">Locations</a></li>
  <li class="order"><a class="active" href="/map">Map</a></li>
</ul>
{% block content %} {% endblock %}
  
</body>
</html>
